@import "../sass/_variables.sass"
@import "../../node_modules/bootstrap/scss/bootstrap.scss"
@import "../sass/_fonts.sass"
@import "../sass/_icons.sass"

body
    font-family: Poppins
    background-color: white
    margin: 0
    header
        position: relative
        nav
            background-color: white
            #logoFlex
                display: flex
                flex-direction: column
                align-items: center
                margin-left: auto
                margin-right: auto
                #logo1
                    display: block
                .navbar-collapse
                    display: flex
                    flex-direction: row
                    align-items:  center
                    justify-content: space-between
                    .navbar-nav
                        margin-top: 20px
                        .nav-item
                            #logo2
                                display: none
                            a
                                text-transform: capitalize
                            .colourSwap
                                border-radius: 3px
                                padding: 6px
                                margin-left: 5px
                                border: none
                                border: solid 1px black
                                &:focus
                                    outline: none
                                    border: none
                            #connect
                                background-color: #6c757d
                                color: white
                                padding: 2px
                                border: none
                                &:focus
                                    outline: none
                                    border: none
    section 
        &:first-of-type
            background-color: #f3f3f3
        &:nth-of-type(2)
            .container
                margin-top: 50px
                margin-bottom: 25px
                .row
                    .blogItem
                        .centered
                            position: absolute
                            color: white
                            padding: 50px
                            padding-top: 0px
                            padding-bottom: 5px
                            border-bottom: solid white 2px
                            top: 25%
                            left: 50%
                            transform: translate(-50%, -50%)
        &:nth-of-type(3)
            .products
                margin-top: 15px
                margin: auto
                text-align: center
                .container
                    left: 50%
                    right: 50%
                    .row
                        .col-4
                            .item
                                width: 150px
                                font-size: 12px
                                font-weight: bolder   
                                margin-top: 5px
                            .badge
                                top: 50%
                            .sale
                                text-decoration: line-through
                                color: lightgrey
                            .price
                                color: red
                                font-size: 14px
                            .productImage
                                margin-right: 15px
                                width: 175px
                                height: 125px
                            .d-flex
                                top: 15%
                                #sale
                                    border-radius: 50% 
                                    background-color: red
                                    color: white
                                    border: none
                                    left: 5%
                                    // top: 15%
        &:nth-of-type(4)
            height: 800px
            background-image: url("../../public/img/cta-bg.jpg")
            .banner2
                color: white
                text-align: center
                font-size: larger
                display: flex
                flex-direction: column
                justify-content: center
                #dis
                    margin-top: 25%
                #learn
                    width: 125px
                    margin: auto
        &:nth-of-type(5)            
            .carBox
                h3   
                    margin: auto
                    margin-top: 50px
                #images
                    img
                        width: 200px
                        height: 150px
                        margin-right: 10px
                        &:nth-of-type(5)
                            display: none
                        &:nth-of-type(6)
                            display: none
                .carButtons
                    .btns
                        border-radius: 50%
                        background-color: white
                        border: 2px solid black
                        width: 20px
                        height: 20px
                        &:focus
                            outline: none
                            background-color: black
        &:last-of-type
            .about
                .grey
                    background-color: #f3f2f3
                    padding: 15px
                .red
                    background-color: #dd4545
                    padding: 15px
                .aboutBox  
                    padding: 15px 
                    i
                        font-size: larger
                        margin-bottom: 10px
                    button 
                        padding: 5px
                        border: none
                        background-color: black
                        color: white
                        text-transform: uppercase
                    #redBtn
                        background-color: white
                        color: black
                    p
                        font-size: 14px
    footer
        background-color: black
        #footr
            background-color: #343a40
            padding: 65px
            padding-bottom: 0
            .posts
                ul
                    list-style: none
                    li
                        color: white 


            
            
            